[user]
pinned=/usr/share/applications/chromium.desktop;/usr/share/applications/thunar.desktop;/usr/share/applications/xfce4-terminal.desktop;/usr/share/applications/nexus-settings.desktop;/usr/share/applications/nexus-games.desktop;
