favorites=nexus-settings.desktop,chromium.desktop,thunar.desktop,xfce4-terminal.desktop,org.xfce.mousepad.desktop,mate-calc.desktop,com.github.maoschanz.drawing.desktop,viewnior.desktop,libreoffice-startcenter.desktop,code.desktop,freetube.desktop,legcord.desktop,nexus-games.desktop,prismlauncher.desktop,nexus-ai.desktop,org.thonny.Thonny.desktop
button-title=NEXUS
button-icon=nexus-start
show-button-title=true
show-button-icon=true
launcher-show-name=true
launcher-show-description=false
item-icon-size=3
category-icon-size=2
menu-width=560
menu-height=500
position-search-alternate=true
default-category=0
command-settings=nexus-settings
show-command-settings=true
command-lockscreen=nexus-lock
show-command-lockscreen=true
command-logout=xfce4-session-logout
show-command-logout=true
